<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>relay (AU).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>relay (AUv3 AppExtension).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>relay (AUv3 Standalone).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>relay (All).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>relay (Shared Code).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>22C3150041C3E139CF15D8CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>725E1BBFD52D09EC53A8594C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9050ACB0DCE5651E29D45888</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD91FB9C7B4B10ED6BE09055</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F0D3E0369081C60AEEC0C34F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
